
* {
box-sizing: border-box;
}


html {
margin: 0;
padding: 0px;

/* Sticky Footer */
position: relative;
min-height: 100%;
}


body {
margin: 0 0 100px; /* bottom = footer height */
font-family: 'Roboto', sans-serif;
background-color: #27262e;
}



/* Header */
  .digital--card {
      width: 100%;
      justify-content: center;
      text-align: center;
    }
    
  .digital--container {
    color: #fff;
  }


  .digital--container > img {
    border-radius: 20%;
    border: 4px solid #F7CCAC;
    margin-top: 2.5em;
    width: 15.8em;
  }

  .header--name, .subheader--role {
    margin: 2px;
  }

  .header--name {
    padding-top: 15px;
  }

  .subheader--role {
    color: #F7CCAC;
    font-weight: 400;
  }

  .subheader-website {
    font-size: 0.8em;
    font-weight: 300;
    margin-top: 12.5px;
  }


  /* Main */
  .btn {
    border:  1px solid #C69B7B;
    margin: 0.3em 0.8em;
    padding: 0.5em 1.8em;
  }
  
  .btn-color {
    background-color: #C69B7B;
    color: #fff;
  }
          

  .digital--main {
    color: #fff;
    justify-content: left;
    margin: 1.5em 2.8em 0 2.8em;
  }

  .digital--main-heading {
    color: #F7CCAC;
  }

  .digital--text {
    font-weight: 200;
  }

  /* Footer */
  .footer-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

    
  footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 4em;
    width: 100%;
    text-align: center;
    background-color: #826F66;
  }

  .fa-square-twitter, .fa-square-facebook, .fa-instagram, .fa-square-github {
    margin: 0 0.4em;
    color: #F7CCAC;
  }