
* {
box-sizing: border-box;
}


html {
margin: 0;
padding: 0px;

/* Sticky Footer */
position: relative;
min-height: 100%;
}


body {
margin: 0 0 100px; /* bottom = footer height */
font-family: 'Roboto', sans-serif;
background-color: #1A374D;
}



footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3em;
    width: 100%;
    text-align: center;
    background-color: #61DAFB;
  }
  


/* Header */
.card {
    /* box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s; */
    width: 100%;
    text-align: center;
  }
  
  /* .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  } */
  
  .container {
    padding: 2px 0;
    color: #fff;
  }


  .container > img {
    border-radius: 20%;
    border: 5px solid #B1D0E0;
    margin-top: 2.3em;
    width: 18em;
  }

  .header--name, .subheader--role {
    margin: 2px;
  }

  .header--name {
    padding-top: 15px;
  }

  .subheader--role {
    color: #B1D0E0;
    font-weight: 400;
  }

  .subheader-website {
    font-size: 0.8em;
    font-weight: 200;
    margin-top: 12.5px;
  }